{% extends 'base-dash.html' %}
{% load custom_tags %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">
            {% breadcrumbs as breadcrumb_list %}
            <ol class="breadcrumb bg-transparent">
                {% for name, url in breadcrumb_list %}
                    <li class="breadcrumb-item">
                        <a href="{{ url }}">{{ name }}</a>
                    </li>
                {% endfor %}
                <li class="breadcrumb-item">
                    <a>{{ session.department }} {{ session.session }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'final-subjects' pk=session.uuid %}">Final Marks</a>
                </li>
            </ol>
        </h1>
        <div class="container col-md-12">
            <div class="row">
                <div class="col-12 col-md-12 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <form method="POST" class="row g-3">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <label for="inputState" class="form-label">Subjects</label>
                                    <br>
                                    <select data-live-search="true"
                                            id="inputState"
                                            name="subject_uuid"
                                            class="form-select selectpicker border mb-3">
                                        <option value="{{ selected_subject.uuid }}" selected>
                                            {% if selected_subject != '' and selected_subject != None %}
                                                {{ selected_subject }}
                                            {% else %}
                                                Choose...
                                            {% endif %}
                                        </option>
                                        {% for subject in subjects %}<option value="{{ subject.uuid }}">{{ subject.code }}</option>{% endfor %}
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if final_subjects|length > 0 %}
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-12 col-md-12 mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <ol class="list-group list-group-numbered">
                                    {% for user_subject in final_subjects %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            {{ user_subject.title }} - {{ user_subject.code }}
                                            <a href="{% url 'final-marks' pk=session.uuid sub=user_subject.uuid %}"><i class="rounded bg-primary p-2 text-white fa-solid fa-arrow-right"></i></a>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.container-fluid -->
{% endblock content %}
